/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {

  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #2f3640;
  color: #EBEBD3;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #EBEBD3;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}
.hover-underline-animation:hover {
    -webkit-transition: 1s;
    transition: 1s;
}
.hover-underline-animation:hover {
 color: green;
}




body {

    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
} 

h1 {
    margin: 20px 0;
    color: #fff;
}

.center {
    text-align: center;
}




/* NAME ANIMATION */
.ml7 {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
    text-align: center;
}

.ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    text-align: center;
}

.ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    color: #fff;
}

@media (min-width: 820px) and (max-width:900px) {
    .ml7 {
        position: relative;
        font-weight: 900;
        font-size: 3em;
        text-align: center;
    }
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    text-align: center;
}

.ml6 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    color: #fff;
}

.ml5 {
    position: relative;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
}

.ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    text-align: center;
}

.ml5 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    color: #fff;
}

#mobileview {
    display: none;
}

@media (min-width: 760px) and (max-width:800px) {
    .ml6 {
        font-size: 3.7em;
    }

    .ml5 {
        font-size: 3.7em;
    }
}

@media (min-width: 250px) and (max-width:300px) {
    .ml6 {
        font-size: 2em;
    }

    .ml5 {
        font-size: 2em;
    }
}

.h3 {
    text-align: center;
    font-size: 2em;
}

.row1 {
    font-size: x-large;
    color: #fff;

}

.abt {
    text-align: center;
    color: #fff;
}
@media (width: 768px) {
    .myImg {
        height: 500px;
    }
}
@media (width: 820px) {
    .myImg {
        height: 500px;
    }
}

/* CERTIFICATE */
.img {
    width: 100%;
    height: 200px;

}

.flexing {
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-content: center;
}



.item {
    flex-grow: 1;
    height: 100px;
}

@media (max-width: 860px) {
    .flexing {
        flex-direction: column;
        row-gap: 150px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }

    .img {
        width: 100%;
        height: 200px;
    }

}

/* ========================= */

@media (min-width: 1000px) and (max-width:1010px) {
    .flexing {
        flex-direction: column;
        row-gap: 270px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
    }

    .img {
        width: 750px;
        height: 350px;
    }

}

/* ========================= */
@media (width: 820px) {
    .flexing {
        flex-direction: column;
        row-gap: 180px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
    }

    .img {
        width: 600px;
        height: 200px;
    }

}

/* ========================= */
@media (width: 768px) {
    .flexing {
        flex-direction: column;
        row-gap: 180px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
    }

    .img {
        width: 530px;
        height: 200px;
    }

}

/* ======================== */
@media (min-width: 740px) and (max-width:760px) {
    .flexing {
        flex-direction: column;
        row-gap: 180px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
    }

    .img {
        width: 100%;
        height: 200px;
    }
}

/* ========================= */
@media (min-width: 200px) and (max-width:300px) {
    .img {
        width: 250px;
        height: 200px;
    }

    .img-responsive {
        width: 250px;
    }
}

/* ========================= */
@media (min-width: 900px) and (max-width:960px) {
    .flexing {
        flex-direction: column;
        row-gap: 180px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
    }

    .img {
        width: 600px;
        height: 200px;
    }

}


/* SKILLS */
.skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
    width: 100%;
    float: left;
}

.skills {
    padding: 15px;
}

.skills .skill {
    margin-bottom: 30px;
}

.skills .skill .skill-title {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
}

.skills .skill .skill-bar {
    width: 0;
    height: 15px;
    background: #f0f0f0;
    border-radius: 13px;
    transition: 1s cubic-bezier(1, 0, .5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills.active .skill .skill-bar {
    width: 100%;
}

.skills .skill .skill-bar span {
    float: left;
    width: 0%;
    background: #1D91F2;
    height: 15px;
    position: relative;
    border-radius: 13px;
    transition: 1s cubic-bezier(1, 0, .5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills .skill .skill-bar span b {
    float: left;
    width: 100%;
    position: relative;
    text-align: right;
    opacity: 0;
    font-size: 14px;
    color: #1D91F2;
    font-weight: 400;
    top: -18px;
}



.techname {
    color: white;
}



/* ========================= */



/* WHAT WE OFFER */
.card {
    width: 18rem;
    height: 200px;
}

.offer {
    margin-left: 10px;
    column-gap: 20px;
}
.offerCard:hover {
    background-color: greenyellow;
    color: white;
}
@media (max-width: 760px) {
    .card {
        width: 100%; 
    }
}
@media (min-width: 1024px) and (max-width:1040px) {
    .card {
        width: 13rem; 
        height: 250px;
    }
    .offer {
        column-gap: 18px;
        /* margin-left: -8px; */
    }
}
@media (min-width: 1280px) and (max-width:1300px) {
    .card {
        width: 16rem; 
        height: 250px;
    }
    .offer {
        column-gap: 18px;
        /* margin-left: -8px; */
    }
}
@media (max-width: 900px) {
    .offer {
        margin-left: 0;
    }
}
@media (min-width: 768px) and (max-width:800px) {
    .card {
        width: 35rem 
    }
}
@media (min-width: 912px) and (max-width:950px) {
    .card {
        width: 43rem 
    }
    .offer {
        margin-left: -10px;
    }
}

@media (min-width: 820px) and (max-width:860px) {
    .card {
        width: 40rem 
    }
}
/* ======================================= */


/* PORTFOLIO */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
  }
  .portCard {
    width: 100%;
    height: 570px;
    -webkit-transition: 1s;
    transition: 1s;
}
.portCard:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
}
  @media (max-width: 750px) {
    .center {
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
    .portCard {
        width: 100%;
        height: auto;
    }
}

/* CONTACT */
.contactLink {
    text-decoration: none;
    color: white;
}

.fa-5x {
    color: white;
}
.fa-5x:hover {
    color: greenyellow;
}

.contactLink:hover {
    text-decoration: none;
    color: greenyellow;
    border: none;
}
.centerContact {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
  }
  @media (max-width: 750px) {
    .centerContact {
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
}

/* ========================= */

/* FOOTER */

footer {
    background-color: #2f3640;
}
.foot {
    text-decoration: none;
    color: white;
}

.foot:hover {
    text-decoration: none;
    border: none;
}
hr {
    color: #fff;
}
.end {
    color: white;
}